<div class="container">
  <br />
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title">Simulador de Rendimento CDB</h3>
      <form #simulatorForm="ngForm" (ngSubmit)="simulatePerformance(simulatorForm)">
        <div class="card-body">
          <div class=" row">
            <div class=" col-md-6 px-md-1">
              <div class=" form-group col-md-10">
                <label> Valor inicial </label>
                <input [(ngModel)]="simulatorData.initialValue"
                       name="initialValue"
                       class=" form-control"
                       type="number"
                       min="1"
                       placeholder="Valo inicial" />
              </div>
            </div>
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group col-md-10">
                <label> Prazo em meses</label>
                <input [(ngModel)]="simulatorData.termInMonths"
                       name="termInMonths"
                       class=" form-control"
                       type="number"
                       min="1"
                       placeholder="Prazo em meses" />
              </div>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Simular</button>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Resultados</h4>
      <div class="row">
        <p>Rendimento Bruto: R${{ simulatorResultsData.value | number:'1.2-2' }}</p>
        <p>Rendimento Líquido (com impostos): R${{ simulatorResultsData.valueWithTax | number:'1.2-2' }}</p>
      </div>
    </div>
  </div>
</div>

