# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vs
/src/Application/.vs/Application
/src/Application/bin/Debug/net7.0
/src/Application/obj
/src/Domain/bin/Debug/net7.0
/src/Domain/obj
/src/WebUI/UI/node_modules
/src/WebUI/UI/obj/Debug
/src/WebUI/WebApi/bin/Debug/net7.0
/src/WebUI/WebApi/obj
/tests/Application.UnitTests/bin/Debug/net7.0/fine-code-coverage
/tests/Application.UnitTests/bin/Debug/net7.0
/tests/Application.UnitTests/obj
/src/UI/obj/Debug
/src/Infrastructure/obj/Release/net7.0
